PORT=3000
JWT_SECRET=your-secret-key-change-me
DATABASE_URL=postgresql://cardforge_db_6box_user:iG4UnnMMzrmppdachIKkUGjE5BHGPidY@dpg-d8k6cam7r5hc73dj6340-a.frankfurt-postgres.render.com/cardforge_db_6box